<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spacetraders">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.GUIActivity"
            android:parentActivityName=".views.MainActivity" />
        <activity
            android:name=".views.ShopActivity"
            android:parentActivityName=".views.MainActivity" />
        <activity
            android:name=".views.ShipyardActivity"
            android:parentActivityName=".views.MainActivity" />
        <activity
            android:name=".views.EditPlayerActivity"
            android:parentActivityName=".views.MainActivity" />
        <activity
            android:name=".views.UniverseMapActivity"
            android:parentActivityName=".views.MainActivity" />
        <activity
            android:name=".views.SolarSystemActivity"
            android:parentActivityName=".views.MainActivity" />
        <activity
            android:name=".views.PlanetActivity"
            android:parentActivityName=".views.MainActivity"
        ></activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>